<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Galeria de Álbuns</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>

  <div class="sidebar">
    <button id="btnAlbuns">Álbuns</button>
    <button id="btnFotos">Fotos</button>
  </div>
  
  <div class="main">
    <div class="top-bar">
      <button id="btnAdicionarFoto">➕ Adicionar Álbum</button>
      <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Pesquisar álbum..." />
      </div>
    </div>

    <h2 class="h2_title_photo_galery">Galeria de Álbuns</h2>

    <div class="albums" id="albumContainer">
      <!-- Álbums serão carregados via JS -->
    </div>
  </div>

  <script src="../js/script.js"></script>
</body>
</html>
