<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Galeria de Fotos</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>

  <div class="main">
    <div class="top-bar">
      <button id="btnVoltar">⬅ Voltar</button>
      <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Pesquisar foto..." />
      </div>
    </div>

    <h2 class="h2_title_photo_galery" id="tituloAlbum">Álbum</h2>

    <div class="albums" id="fotoContainer">
      <!-- Fotos serão carregadas via JS -->
    </div>
  </div>

  <script src="../js/fotos.js"></script>
</body>
</html>
